    * {
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .musicContainer {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 20px 0 rgba(238, 174, 202, 1);
        display: flex;
        padding: 20px 30px;
        position: relative;
        margin: 50px 0;
        z-index: 10;
    }
    
    .imgContainer {
        position: relative;
        width: 110px;
    }
    
    .imgContainer::after {
        content: '';
        background-color: white;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        bottom: 60%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    
    .imgContainer img {
        width: inherit;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: rotate 3s linear infinite;
        animation-play-state: paused;
    }
    
    .musicContainer.play .imgContainer img {
        animation-play-state: running;
    }
    
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    
    .actionButton {
        background-color: white;
        border: 0;
        color: rgb(200, 184, 184);
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        margin: 0 20px;
    }
    
    .actionBtnBig {
        color: rgb(181, 165, 165);
        font-size: 30px;
    }
    
    .actionButton:focus {
        outline: 0;
    }
    
    .musicInfo {
        background-color: rgb(245, 180, 219);
        border-radius: 15px 15px 0 0;
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        opacity: 0;
        transform: translateY(0%);
        transition: transform 0.3s ease-in, opacity 0, 3s ease-in;
        padding: 10px 10px 10px 140px;
    }
    
    .musicContainer.play .musicInfo {
        opacity: 1;
        transform: translateY(-100%);
    }
    
    .musicInfo h4 {
        margin: 0;
        text-transform: uppercase;
    }
    
    .progressContainer {
        background: white;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;
        height: 4px;
        width: 100%;
    }
    
    .progress {
        background-color: rgb(255, 146, 146);
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: width 0.1s linear;
    }